﻿@{

}
@section featured {

    <div id="wrapper">

        <!--NIETMOGELIJK-->

        <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #000; z-index: 30001; opacity: .8; filter: alpha(opacity=70);">
            <p style="position: absolute; top: 30%; left: 38%; font-size:18px; font-weight:bold; color: #FFF;">
                Deze samenstelling is niet mogelijk. Probeer het nogmaals.
                <br />
                <a href="~/Home/Index"><img style="margin-left:170px; margin-top:15px;" src="~/images/opnieuw.png" alt="opnieuw" /></a>
            </p>
        </div><!--end divLoading-->
        <!--end NIETMOGELIJK-->


        <form id="builder" method="post">



            <div class="contentContainer">

                <div class="item">
                    <a class="drop" href="#"><img src="~/Images/processor.png" alt="processor" /></a>
                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/moederbord.png" alt="moederbord" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/geheugen.png" alt="geheugen" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/grafischekaart.png" alt="grafischekaart" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->



            </div><!--end contenContainer-->

            <div class="contentContainer">


                <div class="item">
                    <a class="drop" href="#"><img src="~/images/hardeschijf.png" alt="hardeschijf" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/optischedrives.png" alt="optischedrives" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/behuizing.png" alt="behuizing" /></a>

                    <div class="dropdown">

                    </div><!--end dropdown-->
                </div><!--end item-->

                <div id="submit">

                    <a href="#"><img src="~/images/admin.png" alt="admin" /></a>

                    <input class="submit" type="submit" value="" onclick="Load();">


                </div><!--end submit-->

            </div><!--end contenContainer-->

        </form>
    </div>
}