@model IEnumerable<Simple_solutions.Models.SearchPropertiesModel>

@{
        ViewBag.Title = "Admin";
}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={
    'modules':[{
    'name':'visualization',
    'version':'1',
    'packages':['corechart']
    }]}">
</script>
<script type="text/javascript">

    var dataArrayOne = [];
    var dataArrayTwo = [];
    var dataArraThree = [];

    function insertIntoArray(data, array) {
        array.push(data);
    }
    
    function PriceChange() {

        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var date = new Date();
            var year = date.getFullYear();
            var day = date.getDate();
            var month = date.getMonth() + 1;

            var data = google.visualization.arrayToDataTable([
                
                ['Datum', 'Behuizing', 'Geheugen', 'Grafischekaart', 'Hardeschijf', 'Koeler', 'Moederbord', 'Optischedrives', 'Processor', 'Processorkoeler', 'Voeding'],
                [new Date(year, month, day), dataArrayOne[0], dataArrayOne[1], dataArrayOne[2], dataArrayOne[3], dataArrayOne[4], dataArrayOne[5], dataArrayOne[6], dataArrayOne[7], dataArrayOne[8], dataArrayOne[9]],
                [new Date(year, month, day + 1), dataArrayOne[10], dataArrayOne[11], dataArrayOne[12], dataArrayOne[13], dataArrayOne[14], dataArrayOne[15], dataArrayOne[16], dataArrayOne[17], dataArrayOne[18], dataArrayOne[19]],
                [new Date(year, month, day + 2), dataArrayOne[20], dataArrayOne[21], dataArrayOne[22], dataArrayOne[23], dataArrayOne[24], dataArrayOne[25], dataArrayOne[26], dataArrayOne[27], dataArrayOne[28], dataArrayOne[29]],
                [new Date(year, month, day + 3), dataArrayOne[30], dataArrayOne[31], dataArrayOne[32], dataArrayOne[33], dataArrayOne[34], dataArrayOne[35], dataArrayOne[36], dataArrayOne[37], dataArrayOne[38], dataArrayOne[39]]
            ]);

            var options = {
                title: 'Prijsverloop producten',
                curveType: 'function',
                legend: { position: 'bottom' },
            };


            var chart = new google.visualization.LineChart(document.getElementById('chart'));

            chart.draw(data, options);
        }
    }

    function TypeDiversity() {

        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Type');
            data.addColumn('number', 'Amount');
            data.addRows([
                ["Behuizing", CountBehuizing],
                ['Geheugen', CountGeheugen],
                ['Grafischekaart', CountGrafischekaart],
                ['Hardeschijf', CountHardeschijf],
                ['Koeler', CountKoeler],
                ['Moederbord', CountMoederbord],
                ["Optischedrives", CountOptischedrives],
                ['Processor', CountProcessor],
                ['Processorkoeler', CountProcessorKoeler],
                ['Voeding', Voeding],
            ]);

            var options = {'title':'Producten', 'width':400, 'height':900};
            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);
        }
    }
</script>
<div id="wrapper">
    <nav>

        <ul>
            <li>@Html.ActionLink("Prijs verloop", "Admin", "Admin")</li>
            <li>@Html.ActionLink("Meest gezochte samenstellin", "Search", "Admin")</li>
            <li>@Html.ActionLink("Meest verkochte producten", "Sold", "Admin")</li>
        </ul>

    </nav>
    <div id="adminContent">
        <!--Div that will hold the pie chart-->
        @{
            foreach (var a in (List<String>)@ViewData["gemiddeldePrijs"]) {
                <script>
                    insertIntoArray(@a, dataArrayOne);
                    
                </script>
            }

            foreach (var a in (List<String>)@ViewData["timestamp"]) {
                <script>
                    insertIntoArray(@a, dataArrayTwo);
                </script>
            }
}
        <script>
            PriceChange();
        </script>
    </div><!--end content-->
</div>
