@{
    ViewBag.Title = "Admin";
}

<div id="wrapper">
    <nav>

        <ul>
            <li><a href="#">Prijsverloop per producttype</a></li>
            <li><a href="#">Meest gekochte producten</a></li>
            <li><a href="#">Meest gezochte paketten</a></li>
            <li><a href="#">Meest gezocht producten</a></li>
        </ul>

    </nav>
    <div id="adminContent">

        <h3>Admin</h3>

    </div><!--end content-->
</div>
