@{
    ViewBag.Title = "Login";
}
<div id="wrapper">

    <div id="adminContent">

        <div id="login">
            <h3>Login</h3>
            <label>Username : </label>
            <input id="Text1" type="text" /><br />
            <label>Password : </label>
            <input id="Password1" type="password" /><br />
            <input id="Button1" type="button" value="Submit" />
        </div>
    </div><!--end content-->
</div>